[Unit]
Description=Consul envoy proxy
After=consul.service

[Service]
Type=simple
User=consul
Group=consul
ExecStart=/usr/bin/consul connect envoy -sidecar-for {{ inventory_hostname }}-proxy --ignore-envoy-compatibility
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
TimeoutStopSec=5
Restart=on-failure
RestartSec=2
SyslogIdentifier=envoy

[Install]
WantedBy=consul.service